* {
    margin: 0;
    /*outline: solid rebeccapurple;*/
}

body {
    /*overflow: hidden;*/
    font-size: 17px;
}

#titulo {
    color: white;
    background: rgb(253, 193, 90);
}

#inicio {
    overflow: hidden;
}

.one {
    background: gray;
    height: 50px;
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
}

.two {
    background: gray;
    height: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.three {
    background: gray;
    height: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.four {
    background: gray;
    height: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#parrafo {
    margin-top: 70px;
    color: black;
}

#parrafo h1 {
    font-weight: 100;
}

#parrafo li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#instrucciones {
    color: white;
    background: gray;
    height: 100%;
    width: 95%;
    margin: auto;
}

#instrucciones h2 {
    text-align: center;
}

#instrucciones p {
    text-align: center;
}

#pie {
    color: white;
    background: gray;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    text-align: center;
}